h1 {
  color: blue;

}
h4 {
  color: white;
}

.container {
  background-color: lightcoral;



}
body {
  background-color: lightgreen;


}
.navbar {
  display: flex;
  background-image: url("https://images.pexels.com/photos/533877/pexels-photo-533877.jpeg?auto=compress&cs=tinysrgb&h=350");
  background-size: cover;
}

.login {
  color: white;
  float: right;
  margin-right: 30px;
  padding: 8px 18px;
  border: 5px solid #204156;
  border-color: lightblue;
}
.login:hover {
  cursor: pointer;


}
.login:active {
  position:relative;
  top: 5px;
}
.navbar li {
  display: inline-block;
  padding-left: 10px;
  color: gold;

}
.img img {
  background-size: cover;
}
