h1 {
  color: lightgreen;

}
h4 {
  color: white;
}

.container {
  background-color: teal;



}
body {
  background-color: blue;


}
.navbar {
  display: flex;
  background-image;
}
.login {
  color: white;
  float: right;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}
.login:hover {
  cursor: pointer;


}
.login:active {
  position:relative;
  top: 5px;
}
.navbar li {
  display: inline-block;
  padding-left: 10px;
  color: gold;

}

}
